{% layout 'layout.liquid' %}
{% block content %}
    <h1 class="display-4" style="">Welcome To The Marvel Heros App</h1>
    <div class="btn-group btn-group-lg">
        <a href="/users/signup" class="btn">Sign Up</a>
        <a href="/users/login" class="btn">Login</a>
    </div>
{% endblock %}
